<div class="col-md-2 sidebar bg-dark">
    <p class="">
        <a href="/borrower/home">
            <i class="fas fa-home"></i>
            Home
        </a>
    </p>
    <hr>
    <p class="text-primary">
        <a href="/borrower/profile">
            <i class="fas fa-user"></i>
            Profile
        </a>
    </p>
    <hr>
    <p class="">
        <a href="/borrower/books">
            <i class="fas fa-book"></i>
            Books
        </a>
    </p>
    <hr>
    <p class="">
        <a href="/borrower/books/borrowed">
            <i class="fas fa-book"></i>
            Borrowed Books
        </a>
    </p>
</div>
